@charset "UTF-8"

* {
    height: 100%;
}

body {

    background-image: linear-gradient(to right, #BDCAF2,#8B88F2) 
}

main {
        background-color: white; 
        box-shadow: 5px 5px 15px rgba(90, 96, 114, 0.618);
        width: 600px;
        padding: 10px;
        margin: auto;
        border-radius: 10px; 


    }

    h1{

        color: #9177F2;
        text-align: center;
        text-shadow: 0.5px 0.5px 1px #44376fee;
    }

    h2{
        color: #F277DE


    }
